pkgbase = distributed-recorder
	pkgdesc = Distributed recorder.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1
	pkgrel = 1
	url = https://github.com/themartiancompany/distributed-recorder
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = remote-recorder
	depends = remote-encoder
	optdepends = media-tools: media manipulation tools library
	optdepends = record-tools: recording tools suite
	optdepends = android-recorder: for recording from this device screen.
	optdepends = android-camera-recorder: for recording from this device camera
	optdepends = android-remote-camera-recorder: for recording from the camera of another device
	source = distributed-recorder-eef5daf346c771cb5cf253e72d4603111ceadd0e.zip::https://github.com/themartiancompany/distributed-recorder/archive/eef5daf346c771cb5cf253e72d4603111ceadd0e.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 0182a5f8cc48e86c82a436b88e1b1e9afed0e94252297f696522206d7a1449ca

pkgname = distributed-recorder
